body {
    display: block;
    background-color: rgba(69, 161, 157, 1);
    background-image: url(./jumbobg.jpg);
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; 
    z-index: 0;
    
  
    
    
  
  }

