/* Add a black background color to the top navigation */
.topnav {
    background-image: linear-gradient(to bottom right, #30b0aa,#e3ad55);
    overflow: hidden;
    
  }

  img{
    border-radius: .3rem;
  }
  
  /* Style the links inside the navigation bar */
  .buttons {
    float: left;
    color: #f2f2f2;
    text-align: center;
    size: 2rem;
    border-radius: .3rem;
    width: 15%;
    border: 1px solid rgb(125,120,97);
    padding: .1em;
    margin: auto;
  }
  
  /* Change the color of links on hover */
  .topnav :hover {
    background-color: rgb(227,173,85);
    color: black;
    
  }
  
  /* Add a color to the active/current link */
  .topnav .active {
    background-color: black;
    color: white;
  }

  .homelogo {
    float: right;
    border: 1px solid rgb(125,120,97);
    border-radius: .3rem;
    padding: .1em;
    size: 2rem;
    width: 15%;
  }

  .topnav img.facebook{
    border: none;  
    border-radius: 20px;
    width: 5%;
    margin-right: 0px;
    float: right;
  }
  .topnav img.youtube{
    border-radius: 20px;
    border: none;
    width: 5%;
    margin-right: 0px;
    float: right;
}